<div class="flex-container">

  <div class="redemption-container"> 

  <h2> REDEMPTION SETTINGS </h2>

  </div>

  <div class="redeem-void-container">

    <div class="redeem-border">
      <div class="redeem-title"> 
      <h4> Redeem Authorization Levels </h4>
      </div>

      <div class="redeem-labels">
        <label for="Level 3" class="redeemlevel3title" > Level 3 Amount </label>
        <label for="Level 2" class="redeemlevel2title" > Level 2 Amount </label>
        <label for="Level 1" class="redeemlevel1title" > Level 1 Amount </label>
      </div>

    <div class="redeem-input-container">
      <input id="Level 3 Amount" class="redeemlevel3input" [(ngModel)]="redeemlevel3input" />
      <input id="Level 2 Amount" class="redeemlevel2input" [(ngModel)]="redeemlevel2input" />
      <input id="Level 1 Amount" class="redeemlevel1input" [(ngModel)]="redeemlevel1input" />

    </div>
    </div>

    <div class="void-border"> 
      
      <div class="void-title">
      <h4> Void Authorization Levels </h4>
    </div>
      
    <div class="void-labels">
        <label for="Level 3" class="voidlevel3title" > Level 3 Amount </label>
        <label for="Level 2" class="voidlevel2title" > Level 2 Amount </label>
        <label for="Level 1" class="voidlevel1title" > Level 1 Amount </label>
      </div>

    <div class="void-input-container">
      <input id="Level 3 Amount" class="voidlevel3input" [(ngModel)]="voidlevel3input" />
      <input id="Level 2 Amount" class="voidlevel2input" [(ngModel)]="voidlevel2input" />
      <input id="Level 1 Amount" class="voidlevel1input" [(ngModel)]="voidlevel1input" />

    </div>
   </div>

  </div> 


  <div class="borrow-comp-container">
    <div class="borrow-border">

      <div class="borrow-title">
      <h4> Borrow Authorization Levels </h4>
    </div>

      <div class="borrow-labels">
        <label for="Level 3" class="borrowlevel3title" > Level 3 Amount </label>
        <label for="Level 2" class="borrowlevel2title" > Level 2 Amount </label>
        <label for="Level 1" class="borrowlevel1title" > Level 1 Amount </label>
      </div>

    <div class="borrow-input-container">
      <input id="Level 3 Amount" class="borrowlevel3input" [(ngModel)]="borrowlevel3input" />
      <input id="Level 2 Amount" class="borrowlevel2input" [(ngModel)]="borrowlevel2input" />
      <input id="Level 1 Amount" class="borrowlevel1input" [(ngModel)]="borrowlevel1input" />

    </div>
    </div>

    <div class="comp-border">
      <div class="comp-title">
      <h4> Comp Authorization Levels </h4>
    </div>

    <div class="comp-labels">
      <label for="Level 3" class="complevel3title" > Level 3 Amount </label>
      <label for="Level 2" class="complevel2title" > Level 2 Amount </label>
      <label for="Level 1" class="complevel1title" > Level 1 Amount </label>
    </div>

  <div class="comp-input-container">
    <input id="Level 3 Amount" class="complevel3input" [(ngModel)]="complevel3input" />
    <input id="Level 2 Amount" class="complevel2input" [(ngModel)]="complevel2input" />
    <input id="Level 1 Amount" class="complevel1input" [(ngModel)]="complevel1input" />

  </div>
  </div>

  </div>


  <div class="voucher-ticket-container">

    <div class="voucher-border">
      
      <div class="voucher-title">
      <h4> Voucher Print Authorization Levels </h4>
    </div>
    
    <div class="voucher-labels">
      <label for="Level 3" class="voucherlevel3title" > Level 3 Amount </label>
      <label for="Level 2" class="voucherlevel2title" > Level 2 Amount </label>
      <label for="Level 1" class="voucherlevel1title" > Level 1 Amount </label>
    </div>

  <div class="voucher-input-container">
    <input id="Level 3 Amount" class="voucherlevel3input" [(ngModel)]="voucherlevel3input" />
    <input id="Level 2 Amount" class="voucherlevel2input" [(ngModel)]="voucherlevel2input" />
    <input id="Level 1 Amount" class="voucherlevel1input" [(ngModel)]="voucherlevel1input" />

  </div>
  </div>

    <div class="ticket-border">
      <div class="ticket-title">
      <h4> Ticket Transfer Levels </h4>
      </div>

    <div class="ticket-labels">
      <label for="Level 3" class="ticketlevel3title" > Level 3 Amount </label>
      <label for="Level 2" class="ticketlevel2title" > Level 2 Amount </label>
      <label for="Level 1" class="ticketlevel1title" > Level 1 Amount </label>
    </div>

  <div class="ticket-input-container">
    <input id="Level 3 Amount" class="ticketlevel3input" [(ngModel)]="ticketlevel3input" />
    <input id="Level 2 Amount" class="ticketlevel2input" [(ngModel)]="ticketlevel2input" />
    <input id="Level 1 Amount" class="ticketlevel1input" [(ngModel)]="ticketlevel1input" />

  </div>
  </div>

  </div>

  <div class="two-buttons">
  
    <button type="button" class="save-settings" (click)="save()" > SAVE SETTINGS </button>
    <button type="button" class="cancel" (click)="cancel()" > CANCEL </button>
  
  </div>

</div>