<div class="flex-container">

  <div class="redemption-container"> 

  <h2> REDEMPTION SETTINGS </h2>

  </div>

  <div class="redeem-void-container">

    <div class="redeem-border">
      <div class="redeem-title"> 
      <h4> Redeem Authorization Levels </h4>
      </div>

      <div class="redeem-labels">
        <label for="Level 3" class="labellevel3title" > Level 3 Amount </label>
        <label for="Level 2" class="labellevel2title" > Level 2 Amount </label>
        <label for="Level 1" class="labellevel1title" > Level 1 Amount </label>
      </div>

    <div class="redeem-input-container">
      <input id="Level 3 Amount" class="inputlevel3input" [(ngModel)]="redeemlevel3input" />
      <input id="Level 2 Amount" class="inputlevel2input" [(ngModel)]="redeemlevel2input" />
      <input id="Level 1 Amount" class="inputlevel1input" [(ngModel)]="redeemlevel1input" />

    </div>
    </div>

    <div class="void-border"> 
      
      <div class="void-title">
      <h4> Void Authorization Levels </h4>
    </div>
      
    <div class="void-labels">
      <label for="Level 3" class="labellevel3title" > Level 3 Amount </label>
      <label for="Level 2" class="labellevel2title" > Level 2 Amount </label>
      <label for="Level 1" class="labellevel1title" > Level 1 Amount </label>
      </div>

    <div class="void-input-container">
      <input id="Level 3 Amount" class="inputlevel3input" [(ngModel)]="redeemlevel3input" />
      <input id="Level 2 Amount" class="inputlevel2input" [(ngModel)]="redeemlevel2input" />
      <input id="Level 1 Amount" class="inputlevel1input" [(ngModel)]="redeemlevel1input" />
    </div>
   </div>

  </div> 


  <div class="borrow-comp-container">
    <div class="borrow-border">

      <div class="borrow-title">
      <h4> Borrow Authorization Levels </h4>
    </div>

      <div class="borrow-labels">
        <label for="Level 3" class="labellevel3title" > Level 3 Amount </label>
        <label for="Level 2" class="labellevel2title" > Level 2 Amount </label>
        <label for="Level 1" class="labellevel1title" > Level 1 Amount </label>
      </div>

    <div class="borrow-input-container">
      <input id="Level 3 Amount" class="inputlevel3input" [(ngModel)]="redeemlevel3input" />
      <input id="Level 2 Amount" class="inputlevel2input" [(ngModel)]="redeemlevel2input" />
      <input id="Level 1 Amount" class="inputlevel1input" [(ngModel)]="redeemlevel1input" />

    </div>
    </div>

    <div class="comp-border">
      <div class="comp-title">
      <h4> Comp Authorization Levels </h4>
    </div>

    <div class="comp-labels">
      <label for="Level 3" class="labellevel3title" > Level 3 Amount </label>
        <label for="Level 2" class="labellevel2title" > Level 2 Amount </label>
        <label for="Level 1" class="labellevel1title" > Level 1 Amount </label>
    </div>

  <div class="comp-input-container">
    <input id="Level 3 Amount" class="inputlevel3input" [(ngModel)]="redeemlevel3input" />
    <input id="Level 2 Amount" class="inputlevel2input" [(ngModel)]="redeemlevel2input" />
    <input id="Level 1 Amount" class="inputlevel1input" [(ngModel)]="redeemlevel1input" />

  </div>
  </div>

  </div>


  <div class="voucher-ticket-container">

    <div class="voucher-border">
      
      <div class="voucher-title">
      <h4> Voucher Print Authorization Levels </h4>
    </div>
    
    <div class="voucher-labels">
      <label for="Level 3" class="labellevel3title" > Level 3 Amount </label>
        <label for="Level 2" class="labellevel2title" > Level 2 Amount </label>
        <label for="Level 1" class="labellevel1title" > Level 1 Amount </label>
    </div>

  <div class="voucher-input-container">
    <input id="Level 3 Amount" class="inputlevel3input" [(ngModel)]="redeemlevel3input" />
    <input id="Level 2 Amount" class="inputlevel2input" [(ngModel)]="redeemlevel2input" />
    <input id="Level 1 Amount" class="inputlevel1input" [(ngModel)]="redeemlevel1input" />

  </div>
  </div>

    <div class="ticket-border">
      <div class="ticket-title">
      <h4> Ticket Transfer Levels </h4>
      </div>

    <div class="ticket-labels">
      <label for="Level 3" class="labellevel3title" > Level 3 Amount </label>
        <label for="Level 2" class="labellevel2title" > Level 2 Amount </label>
        <label for="Level 1" class="labellevel1title" > Level 1 Amount </label>
    </div>

  <div class="ticket-input-container">
    <input id="Level 3 Amount" class="inputlevel3input" [(ngModel)]="redeemlevel3input" />
    <input id="Level 2 Amount" class="inputlevel2input" [(ngModel)]="redeemlevel2input" />
    <input id="Level 1 Amount" class="inputlevel1input" [(ngModel)]="redeemlevel1input" />

  </div>
  </div>

  </div>

  <div class="two-buttons">
  
    <button type="button" class="save-settings" (click)="save()" > SAVE SETTINGS </button>
    <button type="button" class="cancel" (click)="cancel()" > CANCEL </button>
  
  </div>

</div>