.flex-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 1527px;
    height: 660px;
    background-color: white;
}

.redemption-container {
    display: flex;
    justify-content: center;
    margin-top: -25px;
}


.redeem-void-container {
    display: flex;
    flex-flow: row;
}

.redeem-border {
    border: 2px solid gray;
    border-radius: 8px;
    height: 150px;
    width: 590px;
    margin-left: 40px;
}

.void-border {
    border: 2px solid gray;
    border-radius: 8px;
    height: 140px;
    width: 590px;
    margin-left: 80px;
}


.borrow-comp-container {
    display: flex;
    flex-flow: row;
    margin-top: 20px;
}

.borrow-border {
    border: 2px solid gray;
    border-radius: 8px;
    height: 140px;
    width: 590px;
    margin-left: 40px;
}

.comp-border {
    border: 2px solid gray;
    border-radius: 8px;
    height: 140px;
    width: 590px;
    margin-left: 80px;
}

.voucher-ticket-container {
    display: flex;
    flex-flow: row;
    margin-top: 20px;
}

.voucher-border {
    border: 2px solid gray;
    border-radius: 8px;
    height: 140px;
    width: 590px;
    margin-left: 40px;
}

.ticket-border {
    border: 2px solid gray;
    border-radius: 8px;
    height: 140px;
    width: 590px;
    margin-left: 80px;
}

.two-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.save-settings {
    background-color: #60cc65;
    border: none;
    color: white;
    border-radius: 20px;
    text-align: center;
    display: inline-block;
    font-size: 23px;
    margin: 9px;
    cursor: pointer;
    width: 250px;
    height: 45px;
}

.save-settings:hover {
    background-color: #F7F7F7;
    color: #60cc65;
}

.cancel {
    background-color: #F7F7F7;
    border: none;
    color: black;
    border-radius: 20px;
    text-align: center;
    display: inline-block;
    font-size: 23px;
    margin: 9px;
    cursor: pointer;
    width: 250px;
    height: 45px;
}

.redeem-title {
    border-bottom: 2px solid grey;
    height: 25px;
    margin-left: 20px;
}

.redeem-labels {
    margin-top: 10px;
}

.labellevel3title {
    margin-left: 21px;
}

.labellevel2title {
    margin-left: 83px;
}

.labellevel1title {
    margin-left: 85px;
}

.redeem-input-container {
    margin-top: 5px;
}

.inputlevel3input {
    margin-left: 15px;
    height: 35px;
    border-radius: 10px;
}

.inputlevel2input {
    margin-left: 15px;
    height: 35px;
    border-radius: 10px;
}

.inputlevel1input {
    margin-left: 15px;
    height: 35px;
    border-radius: 10px;
}

.borrow-title {
    border-bottom: 2px solid grey;
    height: 25px;
    margin-left: 20px;
}

.borrow-labels {
    margin-top: 10px;
}

.borrow-input-container {
    margin-top: 5px;
}

.voucher-title {
    border-bottom: 2px solid grey;
    height: 25px;
    margin-left: 20px;
}

.voucher-labels {
    margin-top: 10px;
}

.voucher-input-container {
    margin-top: 5px;
}

.void-title {
    border-bottom: 2px solid grey;
    height: 25px;
    margin-left: 20px;
}

.void-labels {
    margin-top: 10px;
}

.void-input-container {
    margin-top: 5px;
}

.comp-title {
    border-bottom: 2px solid #e9e6e6;
    height: 25px;
    margin-left: 20px;
}

.comp-labels {
    margin-top: 10px;
}

.comp-input-container {
    margin-top: 5px;
}

.ticket-title {
    border-bottom: 2px solid grey;
    height: 25px;
    margin-left: 20px;
}

.ticket-labels {
    margin-top: 10px;
}

.ticket-input-container {
    margin-top: 5px;
}

@media only screen and (max-width: 500px) {
    
 .flex-container{
    width: 100%;
} 

.redemption-container {
    display: flex;
    flex-direction: column;
}

.redeem-void-container {
    display: flex;
    flex-direction: column;
}

.redemption-container {
    display: flex;
    flex-direction: column;
    margin-top: 395px;
}

.redeem-border {
    
    border: 2px solid gray;
    border-radius: 8px;
    height: 135px;
    width: 78%;
    margin-left: 0px;
    margin-top: 0px;
}

.labellevel3title{
    margin-left: 21px;
    font-size: 15px;
}

.labellevel2title {
    margin-left: 17px;
    font-size: 15px;
}

.labellevel1title {
    margin-left: 18px;
    font-size: 15px;
}

.inputlevel3input{
    margin-left: 15px;
    height: 30px;
    width: 100px;
    border-radius: 10px;
}

.inputlevel2input {
    margin-left: 15px;
    height: 30px;
    width: 100px;
    border-radius: 10px;
}

.inputlevel1input {
    margin-left: 15px;
    height: 30px;
    width: 100px;
    border-radius: 10px;
}

.void-border {
    border: 2px solid gray;
    border-radius: 8px;
    height: 135px;
    width: 78%;
    margin-left: 0px;
    margin-top: 15px;
}

.borrow-comp-container{
    display: flex;
    flex-direction: column;
}

.borrow-border {
    border: 2px solid gray;
    border-radius: 8px;
    height: 135px;
    width: 78%;
    margin-left: 0px;
    margin-top: -5px;
}

.comp-border {
    border: 2px solid gray;
    border-radius: 8px;
    height: 135px;
    width: 78%;
    margin-left: 0px;
    margin-top: 15px;
}

.voucher-ticket-container {
    display: flex;
    flex-direction: column;
}

.voucher-border {
    border: 2px solid gray;
    border-radius: 8px;
    height: 135px;
    width: 78%;
    margin-left: 0px;
    margin-top: -5px;
}

.ticket-border {
    border: 2px solid gray;
    border-radius: 8px;
    height: 135px;
    width: 78%;
    margin-left: 0px;
    margin-top: 15px;
}

.two-buttons {
    margin-top: 10px;
    margin-left: -100px;
}

.save-settings {
    background-color: #60cc65;
    border: none;
    color: white;
    border-radius: 20px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 9px;
    cursor: pointer;
    width: 175px;
    height: 45px;
    
}

.cancel {
    background-color: #F7F7F7;
    border: none;
    color: black;
    border-radius: 20px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 9px;
    cursor: pointer;
    width: 175px;
    height: 45px;
}


}    


/* For mobile phones: */
/* [class*="col-"] {
    width: 100%;
} */
